:root {
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --orColor:#cc9735;
    --bleuPetroleColor:#112033;
    --beige1Color:#f5f1ee;
    --beige2Color:#f9f7f6;
    --beige3Color:#efe8e0;
    --doreColor:#a87b27;
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
  }

  html{
    font-size: 90%;
  }

  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  .icon{
    font-size: var(--h2FontSize);
  }